/*BASICOS*/

html {
    min-height: 100%;
    position: relative;
}

body {
    background: url("../img/background.png");
    overflow-x: hidden;
    font-family: Archia;
    padding-top: 70px;
    min-height: 95%;
    margin-bottom: 150px;
}

main {
    margin-top: 0;
}

h1 {
    font-family: Archia;
}

p {
    font-family: Lato-Black;
    font-size: 16px;
}

a:focus,
a:hover {
    text-decoration: none;
}
/*Portada*/

.portada {
    background-image: url(../img/bg-header.jpg);
    background-size: cover;
    box-shadow: 0 0 30px #1c4d657a;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-top: 0%;
}

.portada img {
    width: 25%;
}

.portada h1 {
    width: 55%;
    float: right;
    font-weight: bold;
    vertical-align: middle;
    text-shadow: 4px 5px 11px black;
}

.portada>.mobile {
    display: none;
}
/*Menu*/

menu {
    position: absolute;
    width: 100%;
    position: fixed;
    height: 70px;
    z-index: 11;
    background-color: #000000;
    box-shadow: 0 3px 25px #000000a3;
    top: 0;
    margin-top: 0px;
}

.menu-logo {
    float: left;
}

.menu-logo img {
    height: 70px;
    top: -5px;
    position: relative;
    padding: 5px;
}

.navbar {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 5px;
    font-family: Archia;
}

.navbar-nav {
    float: right;
    padding-top: 10px;
}

ul.nav li {
    overflow: hidden;
}

ul.nav li:hover {
    overflow: visible;
}

ul.nav li.desplegable a {
    padding-right: 20px;
}

ul.nav li a {
    color: white;
    font-size: 14px;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.59);
    padding-top: 11px;
    padding-bottom: 12px;
}

ul.nav li:hover ul.submenu {
    opacity: 1;
    transition: opacity 0.5s linear;
}

ul.nav li ul.submenu {
    background-color: white;
    font-size: 14px;
    padding: 10px;
    color: #666;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-width: 300px;
    text-align: center;
    position: absolute;
    list-style: none;
    opacity: 0;
    transition: opacity 0.1s linear;
}

ul.nav li ul.submenu li {
    text-align: left;
    padding-left: 10px;
    border-bottom: 1px dotted #e2e2e2;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul.nav li ul.submenu li a {
    background: none;
    color: inherit !important;
    text-shadow: none;
    font-size: inherit;
    text-decoration: none;
}

ul.nav li ul.submenu li:focus,
ul.nav li ul.submenu li:hover,
ul.nav li ul.submenu li:active {
    color: #cbb171;
    cursor: pointer;
}

ul.nav li span.triangle {
    color: rgba(255, 255, 255, 0.2);
    position: absolute;
    right: 4px;
    font-size: 10px;
    top: 18px;
}

ul.nav li:hover span.triangle {
    color: #fff;
}

.navbar-collapse.mobile-only {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 0;
    position: absolute;
    top: 69px;
    left: 0;
}

.navbar-collapse.mobile-only .navbar-nav {
    float: none;
    background: #00000082;
    margin: auto;
}

.nav>li:focus a,
.nav>li:hover a,
.nav>li:active a {
    background: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar-right {
    margin-top: 5px;
}

.navbar-toggle .icon-bar {
    background: white;
}
/*BEGIN MAIN */

/* FOOTER */

footer {
    font-family: Archia;
    background: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
}

.footer-top {
    height: 150px;
    background-repeat: repeat-x;
    background-size: 850px;
    background-position-x: 50%;
}

.footer-bottom {
    background: #bc3248;
    display: table;
    width: 100%;
    padding-top: 0;
    padding-bottom: 5px;
    background: #801c1a;
    /* Old browsers */
    background: -moz-linear-gradient(top, #801c1a 0%, #dd3a5d 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #801c1a 0%, #dd3a5d 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #801c1a 0%, #dd3a5d 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#801c1a', endColorstr='#dd3a5d', GradientType=0);
    /* IE6-9 */
}

.footer-bottom hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer h4 {
    color: rgb(90, 90, 90);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.1em;
    font-weight: normal;
}

footer .social {
    position: absolute;
    top: -18px;
    left: 15%;
}

footer .social span.icon {
    background-color: black;
    width: 34px;
    height: 34px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 12px;
}

footer .social span.icon-facebook {
    background-color: #1691cd;
}

footer .social span.icon-twitter {
    background-color: #dc8e2c;
}

footer .social span.icon-youtube {
    background-color: #c72c75;
}

footer .social span.icon-instagram {
    background-color: #70277d;
}

footer .redes-sociales {
    text-align: center;
    margin-top: 10px;
}

footer .col-md-4 {
    margin-top: 60px;
    margin-bottom: 60px;
    border-left: 2px dotted rgb(0, 0, 0);
}

footer img.logo {
    margin: auto;
    display: block;
    width: 250px;
    margin-top: 30px;
}

footer .redes-sociales span {
    position: relative;
    width: 44px;
    height: 44px;
    opacity: 0.9;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
    margin: 0 5px;
    cursor: pointer;
    background-color: #00000036;
    border-radius: 50%;
}

footer .redes-sociales span:hover {
    opacity: 1;
    background-size: 100%;
}

footer .icon-facebook {
    background: url(../img/icons/facebook.png);
    background-size: contain;
}

footer .icon-twitter {
    background: url(../img/icons/twitter.png);
    background-size: contain;
}

footer .icon-youtube {
    background: url(../img/icons/youtube.png);
    background-size: contain;
}

footer .icon-instagram {
    background: url(../img/icons/instagram.png);
    background-size: contain;
}

footer img.logo-footer {
    width: 100%;
    max-width: 250px;
    display: block;
    margin: auto;
    position: relative;
    left: -30px;
}

footer .redes {
    margin-top: 40px;
}

.contacto-footer {
    max-width: 300px;
    margin: auto;
}

.logo_unif {
    margin: auto;
    display: block;
    width: 250px;
    filter: invert(100%);
}
/* FIN FOOTER */

/* DEFINICIONES PANTALLA */

@media screen and (orientation: portrait) {
    .portada {
        height: auto;
    }
    .portada img {
        display: none;
    }
    .portada>.mobile {
        display: block;
        text-align: center;
    }
    .portada>.mobile img {
        display: inline-block;
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1600px) {
    #slider-container {
        background-position-y: -300px;
    }
}

@media (max-width: 1600px) {
    .main-items .item.height2 .image {
        height: 410px;
    }
    .main-items .item.height2:hover .image {
        height: 350px;
    }
    .main-items .item.height2 {
        height: 550px;
    }
}

@media (max-width: 1300px) {
    #slider-container {
        background-position-y: 0;
        height: 450px;
    }
    #slider-overlay {
        height: 450px;
    }
    #logo-container img.logo {
        position: relative;
        top: -45px;
    }
    .main-items .item.height2 .image {
        height: 350px;
    }
    .main-items .item.height2:hover .image {
        height: 250px;
    }
    .main-items .item.height2 {
        height: 450px;
    }
}

@media (max-width: 1023px) {
    .cont.marca {
        text-align: center;
    }
    .cont.marca .col-md-6 {
        display: table;
        width: 100%;
    }
    .cont.marca .btn.ver-video {
        float: none;
        margin: auto;
    }
    .cont.marca img {
        max-width: 100%;
    }
    #slider-container {
        background-position-y: 0;
        height: 350px;
    }
    #slider-overlay {
        height: 350px;
    }
    #logo-container img.logo {
        position: relative;
        top: -70px;
        width: 150px;
    }
    .titulo-marca .texto,
    .titulo-marca .video {
        display: block;
        width: 100%;
    }
    ul.nav li a {
        padding-right: 6px;
        padding-left: 6px;
    }
}

@media (max-width: 783px) {
    #slider-container {
        background-size: cover !important;
    }
    .main-items .item.height2 {
        height: 650px;
    }
    .main-items .item.height2 .image {
        height: 500px;
    }
    .main-items .item.height2:hover .image {
        height: 500px;
    }
    .main-items .item.height2 .content p {
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .navbar-collapse.collapse.mobile-only {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .navbar-collapse.collapse.in.mobile-only,
    .navbar-collapse.collapse.collapsing.mobile-only {
        display: block !important;
    }
}

@media (max-width: 600px) {
    .main-items .item.height2 .image {
        background-position-y: -200px !important;
    }
}

/* Main */
.main{
    background-image: url(../img/background.png);
    width: 100%;
    padding-top: 15px;
    padding-bottom: 30px;
}

.main .listado{
    width: 50%;
    background:white;
    margin: 0 auto;
    display: flex;
}
.main .titulos{
    width: 100%;
    font-weight: bold;
}

.main .listado .lista-organismos{
    width: 70%;
    float: left;
}

.main .listado .buscador{
    width: 25%;
    float: right;
}

.main .listado .lista-organismos ul{
    list-style-type:none;
}

.main .listado .lista-organismos li{
    width: 80%;
    border: 1px solid black;
    border-radius: 12px;
    text-align: center;
    margin: 10px;
}

.main .listado .lista-organismos li p{
    padding-top: 10px; 
}

/* Realizar Consulta */
.consulta{
    width: 100%;
}

.consulta h1{
    font-weight: bold;
}

.logo_gobierno{
    display:inline-block; 
    max-width: 20%;
    vertical-align: top;
}

.logo_gobierno img{
    max-width: 100%;
}

.informacion{
    display:inline-block; 
    width: 35%;
    height: 100%;
    margin-right: 25px;
}

.informacion p{
    color: rgb(102, 102, 102);
    font-weight: bold;
    padding: 10px;
}

.formulario{
    display:inline-block; 
    width: 40%;
    vertical-align: top;
}

.formulario form li{
    list-style-type:none;
    text-align: -webkit-left;
}

.formulario form li label{
    width: 100%;
    vertical-align: top;
}
.formulario form li input{
    width: 70%;
    margin-bottom: 5px;
}

.formulario form li .tinymce{
    width: 70%;
    height: 8em;
    margin-bottom: 5px;
}


.resultado{
    display:inline-block; 
    width: 40%;
    vertical-align: top;
    text-align: center;
}

.resultado img{
    width: 25%;
}