{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="consulta">
        <h1>{{organismo.nombre}}</h1>
        <div class="logo_gobierno">
            {% if not organismo.icono == "http://organigrama.jujuy.gob.ar/SinLogo" %}
                <img src="{{organismo.icono}}">
            {% endif %}
        </div>
        <div class="informacion">
            <p>{{organismo.descripcion|safe}}</p>
            <ul>
                <li><b>Pagina Web:</b> <a href="{{organismo.web}}"> Click Aqui </a></li>
                <li><b>Dirección:</b> {{organismo.direccion}}</li>
                <li><b>Telefonico:</b>
                    <ul>
                        <li>{{organismo.telefonos}}</li>
                    </ul>
                </li>
            </ul>
        </div>
        
        {% if consulta_form %}
            <div class="formulario">
                <h2>Envienos su consulta:</h2>
                <form method="post" class="form-consulta">
                    {% csrf_token %}
                    {{ consulta_form.as_ul }}
                    <button type="submit">Enviar Consulta</button>
                </form>
            </div>
        {% else %}
            <div class="resultado">
                <h2>La consulta fue enviada con exito!</h2>
                <p>Por favor revise su correo electronico, le hemos enviado un mail para validar el mismo.</p>
                <p>Le responderemos cuanto antes!</p>
                <img src="{% static 'img/icons/correcto.png' %}">
            </div>
        {% endif %}
    </div>
    <br>
{% endblock %}