{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="main">
        <div class="titulos">
            <h1>Bienvenido al sistema de consultas gubernamentales</h1>
            <h2>Seleccione el organismo al que desea enviar su pregunta:</h2>
        </div>
        <br>
        <div class="listado">
            <br>
            {% if organismos %}
                <div class="lista-organismos">
                    <ul>
                    {% for organismo in organismos|slice:":25" %}
                        <li>
                            <p><b><a href="/{{organismo.0}}">{{organismo.1}}</a></b></p>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="formulario">
                    <form method="post" class="buscar-archivos">
                        {% csrf_token %}
                        {{ buscar_form.as_ul }}
                        <button type="submit">Buscar</button>
                    </form>
                </div>
            {%  endif %}
        </div>
    </div>
{% endblock %}