{% extends 'base.html' %}

{% block title %}Resultado{% endblock %}

{% block content %}
  <section class="inscripcion">  
    <div class="respuesta-container">
      <h2>{{texto}}</h2>
    </div>
  </section>
{% endblock %}